<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default"> 
      <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                  <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
              </li>
              <li class="menu-title">Menú de navegación</li><!-- /.menu-title -->
              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar-check-o"></i>Citas medicas</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="menu-icon fa fa-cogs"></i><a routerLink="/citas-configuracion" routerLinkActive="active-link" >Configuración</a></li>
                      <li><i class="menu-icon fa fa-id-badge"></i><a routerLink="/citas-citas" routerLinkActive="active-link">Citas</a></li>
                      <li><i class="menu-icon fa fa-id-card-o"></i><a routerLink="/citas-recepcion" routerLinkActive="active-link">Recepción</a></li>
                      <li><i class="menu-icon fa fa-book"></i><a routerLink="/citas-agendamedica" routerLinkActive="active-link">Agenda médica</a></li>
                      <li><i class="menu-icon fa fa-file-text-o"></i><a routerLink="/citas-informes" routerLinkActive="active-link">Informes</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-id-card-o"></i>Historia clinica</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="menu-icon fa fa-cogs"></i><a href="#">Configuración</a></li>
                      <li><i class="menu-icon fa fa-id-card-o"></i><a href="#">Gestión</a></li>
                      <li><i class="menu-icon fa fa-table"></i><a href="#">4505</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-word-o"></i>Promoción y prevención</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="menu-icon fa fa-cogs"></i><a href="#">Configuración</a></li>
                      <li><i class="menu-icon fa fa-users"></i><a href="#">Asociación</a></li>
                      <li><i class="menu-icon fa fa-file-text-o"></i><a href="#">Informes</a></li>
                  </ul>
              </li>


              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-money"></i>Facturación</a>
                  <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-cogs"></i><a href="#">Configuración</a></li>
                        <li><i class="menu-icon fa fa-medkit"></i><a href="#">Consumos</a></li>
                        <li><i class="menu-icon fa fa-money"></i><a href="#">Facturación</a></li>
                        <li><i class="menu-icon fa fa-files-o"></i><a href="#">RIPS</a></li>
                        <li><i class="menu-icon fa fa-table"></i><a href="#">Cartera</a></li>
                        <li><i class="menu-icon fa fa-file-text-o"></i><a href="#">Informes</a></li>
                  </ul>
              </li>


              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Inventarios</a>
                  <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-cogs"></i><a href="#">Configuración</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Entrada</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Salida</a></li>
                        <li><i class="menu-icon fa fa-file-text-o"></i><a href="#">Informes</a></li>
                  </ul>
              </li>

              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Configuración</a>
                  <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Empresa</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Sedes</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Días no laborales</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="#">Copia de seguridad</a></li>
                  </ul>
              </li>

          </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</aside>